<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-container">
    <div class="container-fluid">

        <!-- Brand section -->
        <a class="navbar-brand d-flex align-items-center" href="{{ "/" | relURL}}">
            {{ if .Site.Params.brand.logo }}
            <img src="{{ .Site.Params.Brand.logo | relURL }}" alt="{{ .Site.Params.description }}" class="navbar-brand-img"/>
            {{ end }}
            {{ if .Site.Params.brand.title }}
            <div class="navbar-brand-name">
                {{ .Site.Params.brand.title }}
            </div>
            {{ end }}
        </a>

        <!-- Toggler menu button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi bi-list" height="5px"></span>
        </button>

        <!-- Navigation menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}

                <!-- Make dropdown item if there are sub-menu items -->
                {{ if .HasChildren }}
                <li class="navbar-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle{{ if $currentPage.HasMenuCurrent "main" . }} current-parent{{ end }}" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ .Name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {{ range .Children -}}
                        <li class="dropdown-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                            <a href="{{ .URL | relLangURL }}" class="nav-link">
                                {{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </li>

                <!-- Otherwise simple make menu item -->
                {{ else }}
                <li class="navbar-item ms-2 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                    <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                {{ end }}
                <!-- Language selector -->
                {{ if .Site.Languages}}
                <li class="navbar-item ms-2">
                        {{ $siteLanguages := .Site.Languages }}
                        {{ $pageLang := .Page.Lang }}
                        {{ $translations := "" }}{{ if eq .Page.Kind "404" }}{{ $translations = site.Home.AllTranslations }}{{ else }}{{ $translations = .Page.AllTranslations }}{{ end }}
                        {{ range $translations }}
                            {{ $translation := . }}
                            {{ range $siteLanguages }}
                                {{ if eq $translation.Lang .Lang }}
                                        {{ $selected := false }}
                                    {{ if eq $pageLang .Lang }}
                                        <a class="language-link" href="{{ $translation.RelPermalink }}">
                                            <img class="language-img" src="{{.LanguageName | relURL}}" alt="">
                                        </a>
                                    {{ else }}
                                        <a class="language-link" href="{{ $translation.RelPermalink }}">
                                            <img class="language-img" src="{{.LanguageName | relURL}}" alt="">
                                        </a>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>