{{ define "main" }}
    <!-- Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide position-relavtive" data-bs-ride="carousel">
        <div class="carousel-indicators">
          {{if .Site.Params.images}}
            {{range .Site.Params.images.main}}
              {{ $index := 0 }}
              {{ $imgIndex := index . "index"}}
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{$imgIndex}}" class="{{if eq $imgIndex $index}}active{{end}}" aria-current="true" aria-label="Slide 1"></button>
            {{end}}
          {{end}}
        </div>
        <div class="carousel-inner">
          {{if .Site.Params.images}}
          {{range .Site.Params.images.main}}
              {{ $index := 0 }}
              {{ $imgIndex := index . "index"}}
              <div class="carousel-item {{if eq $imgIndex $index}}active{{end}}">
                <img class="carousel-item-img" src="{{.image | relURL}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{.header}}</h5>
                  <p>{{.description}}</p>
                </div>
              </div>
            {{end}}
          {{end}}
        </div>
        {{/*  <div class="btn btn-slider">Button</div>  */}}
    </div>
    <!-- /Carousel -->

{{ end }}